
  /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	// font: inherit;
  vertical-align: baseline;
  font-family: 'Space Mono', monospace;

}
// CSS RESET DOCUMENT END!



body{
  font-family: 'Noto Sans KR', sans-serif;
  margin-left:10px;
  margin-right: 10px;
  background-color: rgb(48, 48, 48);
  text-decoration: none

}
.logo{
  max-width: 50px;
  max-width: 50px;
  z-index: 3;
}
.navbar1{
  margin: 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  background-color: rgb(48, 48, 48);
}
input{
  height: 15%;
  width:90%;
  font-size: 25px;
  margin-right: 0px;

}
.buttons{
  margin-left: 25%;
}
.active{
  background-color: darkgrey;
}
#filterButton{
  font-size: 25px;
  margin: 10px;
  margin-top: 0px;
}
.buttons button{
  height: 55px;
  margin: 2.5%;
  width: 30%;
}
.confirm{

  width: 150px;
  font-size: 25px;
}
.buttons h3{
margin-left: 32%;

}
.movieCard{
  background-color: rgb(180, 180, 180);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  margin: 10px;
  border: 5px solid black;
  border-radius: 5px;
  justify-content: space-between;

}
.Info{
  display: flex;
  flex-direction: column;
}

.navbar1 button{
  height: 40px;
  background-color: rgba(128, 128, 128, 0.062);
  border: 3px solid rgba(255, 255, 255, 0.589);
  color: rgb(192, 192, 192);
  border-radius: 15px;
  margin: 0px 10px;
  margin-top: 5px;
  margin-bottom: 5px;
}
h2{
  font-size: 50px;
  text-align: center;
}

.AddToWishList{
  margin: 0px;
margin-left: 50px;

width: 45px;
}

.rightSide{
  display: flex;
  justify-content: right;
  width: 100px;
  margin: 20px;

  align-content: center;
  flex-direction: column;

}


h1{


  justify-content: center;

  z-index: 5;
  text-decoration: underline;
  font-size: 100px;
  margin-top: 20px;
  margin-bottom: 25px;
  text-align: center;
}

.HomeButtons{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 150px;
  margin-right:150px;
  
}
.HomeButtons button{
  margin: 45px;
  margin-top: 25px;
  margin-bottom: 25px;
  font-size: 30px;
  width: 300px;
  padding-top: 25px;
  padding-bottom: 25px;
  
}

.movieCard h3{
  margin-left: 25px;
  margin-top: 20px;
  font-size: 25px;
  margin-bottom: 15px;
  color: black;
  text-decoration: underline;
}
.movieCard h5{
  color: black;
  margin-top: 5px;
  margin-left: 25px;
  margin-right: 25px;

  height: 50px;
  width: auto;
  border: 5px solid black;
  padding-top: 15px;
  border-bottom: white;
  border-left: white;

  border-right: white;

}
#rating{

}
.insideElem{
  color: black;
  display: flex;
  justify-content: space-evenly;
}
.SearchItems{
  margin: 10px;
border: 10px solid black;
border-radius: 10px;
display: flex;
flex-wrap: nowrap;
  }





  a:link {
    color: black;
  }
  
  /* visited link */
  a:visited {
    color: black;
  }
  
  /* mouse over link */
  a:hover {
    color: black;
  }
  
  /* selected link */
  a:active {
    color: black;
  }

  a:link {
    text-decoration: none;
  }
  
  a:visited {
    text-decoration: none;
  }
  
  a:hover {
    text-decoration: underline;
  }
  
  a:active {
    text-decoration: underline;
  }

  .hero .has-background{

    position: relative;
    overflow: hidden;
  }

  .hero-background{


    position: absolute;
    object-fit: cover;
    object-position: center center;
    width: 100%;
    height: 150%;
  }
.hero .is-transparent{
  opacity: 0.2;
}

.containerGenre{
  display: flex;
  margin-left: 250px;
  margin-right: 250px;
  flex-direction: column;
  margin-top: 100px;

  

}
.topTitle{
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
.blockGenre{
  text-align: center;
  display: inline-block;
  width: 100%;
}

.button{
  padding-left: 250px;
}


.topTitle h3{
  margin-top: 0px;
  
  }
  .topTitle a{
    margin-top:0px;
  }
.title2 h1 {
  font: 20px;
  display: relative;
  bottom: 250px;
}

.heroHome {
background-image: url('https://image.freepik.com/free-photo/smooth-light-gray-leather-texture-banner-background_8087-1879.jpg');
background-size: cover;
font-size: 100px;
height: 30vh;
}

main {
  height: 100vh;
}

.genreButton {
  margin: 2px;
}

.posterIMG{
  margin-left: 35%;
}

.container h1{
  font-size: 100px;
  position: relative;
  bottom: 100px;
  
}

.has-background-dark{
  height: 100%;}
.footer1{
  background-color: blue;
  color: blue;
}

.MenuButton{
  background-color: rgb(228, 228, 228);

}
.MenuButton:hover{
  background-color: rgb(163, 163, 163);
}